@import'main.css';


/**********************ICONES-RESEAUX**********************/


.social {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 200px;
    left: 0.4rem;
    background-color: var(--bleu_fonce1);
    border-radius: 0.5rem;
    line-height: 0;
    /* box-shadow: 0 3px 30px -2px rgba(41, 33, 95, 0.4); */
    transition: all .6s ease-in-out;
    /* gap: 0.5rem; */
}


.social .icones-reseau {
    border-radius: 1rem 1rem 1rem 1rem;
    transition: 0.4s ease-in-out;
}


.social .icones-reseau:hover {
    transition: 0.4s ease-in-out;
    background-color: var(--bleu_fonce2);
}

.social .icones-reseau:active {
    transition: 0.4s ease-in-out;
    background-color: var(--bleu_fonce3);
}

.icones-reseaux svg {
    width: 1.5rem;
    height: auto;
    margin: 1rem 1rem 1rem 0.8rem;
    /* margin: 1rem 1rem 1rem 0.8rem; */
}

.linkedin-svg path,
.pinterest-svg path,
.github-svg path,
.btn-close-svg path{
    fill:var(--primary) !important;
    /* stroke: var(--primary); */
}

.social.deplier {
    transition: all 0.6s ease-in-out;
}

.rs-display-more {
    margin-top: 2rem;
}

.rs-btn-more {
    transform: rotate(-90deg);
    text-align: center;
    position: fixed;
    bottom: 24rem;
    left: 2.4rem;
    z-index: 1;
}

.rs-btn-more.deplier {
    position: relative;
}

.btn-close {
    padding: 0.1rem 0.8rem 0.1rem 0.8rem;
    border-radius: 5rem;
    background: var(--bleu_fonce1);
    color: var(--white);
    border: none;
    z-index: -1;
    width: 100%;
    transition: 0.2s ease-out;
}

.btn-close.close {
    position: relative;
    border-radius: 0rem 0rem var(--border-radius-details) var(--border-radius-details);
    left: -8.2rem;
    bottom: 5.8rem;
}

.btn-close:hover {
    background-color: var(--bleu_fonce2);
}

.btn-close:active {
    background-color: var(--bleu_fonce3);
}

/************************************************/